.container {
    border: 1px solid black;
}

.container svg {
    border: 1px solid grey;
}

.container circle {
    stroke: blue;
}

.domain {
    stroke: grey;
    stroke-width: 1px;
}

.closed-price {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    /*shape-rendering: crispEdges;*/
}

.grid {
    stroke: lightgrey;
}